<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <title>GoService-Admini</title>
</head>
<body class="adm-body">
    <%- include('./partials/header')%>
    <main class="mainAdmin">
        <h2>Administrador de productos</h2>
        <a class="addProduct" href="/administrar/newProduct"><i class="fas fa-folder-plus"></i> Agregar nuevo Producto</a>
       
        <section>
            <h2>Plomeria</h2>
            <table class="table">
              <tr>
                <th>Nombre</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
    
              <% proveedores.forEach(proveedor => { %>
                <% if(proveedor.category == "plomeria"){%>
                    <tr>
                        <td>
                        <%= proveedor.fullName %>
                        </td> 
                        <td>
                        <a href=<%= "/productDetailPlomeria/" + proveedor.id  %> >
                            <i class="fas fa-eye"></i>
                        </a>
                        </td>
                        <td>
                        <a href=<%= "/productDetailPlomeria/" + proveedor.id + "/edit" %> >
                            <i class="fas fa-edit"></i>
                        </a>
                        </td>
                        <td>
                            <form action= <%= "/productDetailPlomeria/" + proveedor.id + "?_method=DELETE" %> method="post">
                                <button type="submit" class="delete-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </a>
                        </td>
                    </tr>
                    <% } %>
              <% }) %> 
            </table>
          </section>
          <section>
            <h2>Electricidad</h2>
            <table class="table">
              <tr>
                <th>Nombre</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
    
              <% proveedores.forEach(proveedor => { %>
                <% if(proveedor.category == "electricidad"){%>
                    <tr>
                        <td>
                        <%= proveedor.fullName %>
                        </td> 
                        <td>
                        <a href=<%= "/productDetailElectricidad/" + proveedor.id  %> >
                            <i class="fas fa-eye"></i>
                        </a>
                        </td>
                        <td>
                        <a href=<%= "/productDetailElectricidad/" + proveedor.id + "/edit" %> >
                            <i class="fas fa-edit"></i>
                        </a>
                        </td>
                        <td>
                            <form action= <%= "/productDetailElectricidad/" + proveedor.id + "?_method=DELETE" %> method="post">
                                <button type="submit" class="delete-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </a>
                        </td>
                    </tr>
                    <% } %>
              <% }) %> 
                    
            </table>
          </section>
          <section>
            <h2>Limpieza</h2>
            <table class="table">
              <tr>
                <th>Nombre</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
    
              <% proveedores.forEach(proveedor => { %>
                <% if(proveedor.category == "aseo"){%>
                    <tr>
                        <td>
                        <%= proveedor.fullName %>
                        </td> 
                        <td>
                        <a href=<%= "/productDetailAseo/" + proveedor.id  %> >
                            <i class="fas fa-eye"></i>
                        </a>
                        </td>
                        <td>
                        <a href=<%= "/productDetailAseo/" + proveedor.id + "/edit" %> >
                            <i class="fas fa-edit"></i>
                        </a>
                        </td>
                        <td>
                            <form action= <%= "/productDetailAseo/" + proveedor.id + "?_method=DELETE" %> method="post">
                                <button type="submit" class="delete-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </a>
                        </td>
                    </tr>
                    <% } %>
              <% }) %> 
                    
            </table>
          </section>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>