<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/headIcon.ico">
    <script defer src="/js/gogerValidation.js"></script>
    <title>Edita un producto</title>
</head>
<body class="body-register">
    <%- include('./partials/header')%>
    <main class="main-register">
        <section class="registerform">
            <h2 class="title-register">Edita un producto</h2>

            <form class="form-container-register" method="post" enctype="multipart/form-data" action=<%="/administrar/"+ proveedor.id +"?_method=PUT"%> >

                <label for="fullName">Cambiar nombre</label>
                <input type="text" name="fullName" id="fullName" min="1" value= "<%= proveedor.fullName %>" class= "form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.fullName : null %>"
                />
                <p class="feedback">
                <% if (locals.errors && errors.fullName) { %>
                    <div class= "text-danger">
                        <%= errors.fullName.msg  %> 
                    </div>
                   <% } %>
                </p>
                <label for="description">Cambiar Descripción</label>
                <textarea value= "<%= proveedor.description %>" name="description" id="description" class= "form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                    ></textarea>
                    <p class="feedback">
                    <% if (locals.errors && errors.description) { %>
                        <div class= "text-danger-description">
                            <%= errors.description.msg  %> 
                        </div>
                       <% } %>
                    </p>
                <label for="price">Modificar Precio/hora</label>
                <input type="number" name="price" id="price" value= "<%= proveedor.price %>" min="1" class= "form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.price : null %>"
                />
                <p class="feedback">
                <% if (locals.errors && errors.price) { %>
                    <div class= "text-danger">
                        <%= errors.price.msg  %> 
                    </div>
                   <% } %>
                </p>
                <label for="experience">Modificar Experiencia</label>
                <input type="number" name="experience" id="experience" value= "<%= proveedor.experience %>" min="1" class= "form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.experience : null %>"
                />
                <p class="feedback">
                <% if (locals.errors && errors.experience) { %>
                    <div class= "text-danger">
                        <%= errors.experience.msg  %> 
                    </div>
                   <% } %>
                </p>
                <label for="image">Carga Nueva foto</label>
                <div class="seleccionar-archivo">
                    <p id="texto-seleccionar">Seleccionar archivo</p>
                    <input class = "inputfile" type="file" name="image" id="image" placeholder="Ingresa tu foto">
                </div>
                <button type="submit" class="form-btn-register">Modificar Tarjeta</button>
                <button type="reset" class="form-btn-register">Borrar</button>
            </form>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>