<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/headIcon.ico">
    <title>Edita tu perfil</title>
</head>
<body class="body-register">
    <%- include('./partials/header')%>
    <main class="main-register">
        <section class="registerform">
            <h2 class="title-register">Edita tu perfil</h2>

            <form class="form-container-register" method="post" enctype="multipart/form-data" action=<%="/administrar/"+ usuario.id +"?_method=PUT"%> >

                <label for="nombre">Cambiar nombre</label>
                <input type="text" name="nombre" id="nombre" min="1" placeholder= "<%= usuario.nombre %>" />
                <label for="apellido">Cambiar apellido</label>
                <textarea placeholder= "<%= usuario.apellido %>" name="apellido" id="apellido"></textarea>
                <label for="contrasena">Modificar contraseña</label>
                <input type="password" name="contrasena" id="contrasena" min="1" />
                <p>
                    Carga Nueva foto:
                    <input type="file" name="avatar" id="avatar">
                </p>
                <button type="submit" class="form-btn-register">Modificar</button>
                <button type="reset" class="form-btn-register">Borrar</button>
            </form>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>