<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/headIcon.ico">
    <title>Crear nuevo Goger</title>
</head>
<body class="body-register">
    <%- include('./partials/header')%>
    <main class="main-register">
        <section class="registerform">
            <h2 class="title-register">Crea un producto</h2>

            <form action="/administrar" method="POST" class="form-container-register" enctype="multipart/form-data">

                <label for="categories_id">Tipo de Servicio</label>
                <select name=categories_id>
                    <% promCategories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
                <label for="fullName">Nombre</label>
                <input type="text" name="fullName" id="fullName" min="1" placeholder="Nombre del prestador" class= "form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.fullName : null %>"
                />
                <% if (locals.errors && errors.fullName) { %>
                    <div class= "text-danger">
                        <%= errors.fullName.msg  %> 
                    </div>
                   <% } %>
                <label for="description">Descripción</label>
                <textarea placeholder="Agrega una descripción..." name="description" id="description" class= "form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.description : null %>"></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class= "text-danger-description">
                            <%= errors.description.msg  %> 
                        </div>
                       <% } %>
                <label for="price">Precio/hora</label>
                <input type="number" name="price" id="price" min="1" class= "form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.price : null %>"
                />
                <% if (locals.errors && errors.price) { %>
                    <div class= "text-danger">
                        <%= errors.price.msg  %> 
                    </div>
                   <% } %>
                <label for="experience">Experiencia/años</label>
                <input type="number" name="experience" id="experience" min="1" class= "form-control <%= locals.errors && errors.experience ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.experience : null %>"
                />
                <% if (locals.errors && errors.experience) { %>
                    <div class= "text-danger">
                        <%= errors.experience.msg  %> 
                    </div>
                   <% } %>
                <input type="file" name="product_image" id="product_image" placeholder="Ingrese su foto">
                <button type="submit" class="form-btn-register">Agregar entrada</button>
                <button type="reset" class="form-btn-register">Borrar</button>

            </form>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>