<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>name</title>
</head>
<body>
    <% for(let i= 0; i < plomeria.length; i++){ %>   
        <article>
          <h3> <%= plomeria[i].fullName %></h3>
          <figure>
            <img  src="img/<%= plomeria[i].image%> " alt="plomero1">
          </figure>
          <section class="detalle">
            <h5 class="valor"> Valor/Hora: $<%= plomeria[i].price%> </h5>
            <p class="expDetail">Experiencia: <%= plomeria[i].experiencia%> años</p>
            <p class="description"> <%= plomeria[i].description%></p>
            <a href="/productDetailPlomeria" class="buttonDetail">Agregar al carrito</a>
          </section>              
        </article>                      
    <% } %>
</body>
</html>