<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/headIcon.ico">
    <title>Detalles del producto</title>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
      <h1>
        Detalle del producto
      </h1>
      <section class = "section-pd">
        <article class="articulo">
            <section class="img-pd">
              <img src=<%= "/img/" + proveedor.image %>>
            </section>
            <div class="articulo--top--info">
              <p class="text-pd"><b>Nombre:</b> <%= proveedor.fullName %></p>
              <p class="text-pd"><b>Descripción:</b> <%= proveedor.description %></p>
              <p class="text-pd"><b>Experiencia: </b> <%= proveedor.experience %> años</p>
              <a class="buttonDetail" href=<%= "/productCar/" + proveedor.id %> > Ir al pago</a>
            </div>
        </article>
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>

</html>