<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Servicios de Plomería</title>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <%- include('./partials/banner')%>
        <h1>PLOMERIA</h1>
        <section class="includes">
          <% proveedores.forEach(proveedor => { %>
            <% if(proveedor.category == "plomeria"){%>   
              <article>
                <h3> <%= proveedor.fullName %></h3>
                <figure>
                  <img  src="img/<%= proveedor.image%> " alt="Proveedores">
                </figure>
                <section class="detalle">
                  <h5 class="valor">$  <%= proveedor.price%> </h5>
                  <p class="expDetail">Experiencia: <%= proveedor.experience%> años</p>
                  <a class="buttonDetail" href=<%= "/productDetailAseo/" + proveedor.id %> > Ver detalle</a>
                </section>              
              </article> 
           <%}%>                     
          <% }) %> 
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>