<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Servicios de Aseo</title>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <%- include('./partials/banner')%>
        <h1>ASEO</h1>
        <section class="includes">
            <% for(let i= 0; i < aseo.length; i++){ %>   
                <article>
                  <h3> <%= aseo[i].fullName %></h3>
                  <figure>
                    <img  src="img/<%= aseo[i].image%> " alt="Aseadores">
                  </figure>
                  <section class="detalle">
                    <h5 class="valor">$  <%= aseo[i].price%> </h5>
                    <p class="expDetail">Experiencia: <%= aseo[i].experiencia%> años</p>
                    <a href="/productDetailPlomeria/:plomeria[i]" class="buttonDetail">Ver detalle</a>
                  </section>              
                </article>                      
            <% } %>        
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>