<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/headIcon.ico">
    <script defer src="/js/userValidation.js"></script>
    <title>Regístrate aquí</title>
</head>

<body class="body-register">
    <%- include('./partials/header')%>
    <main class="main-register">
        <section class="registerform">
            <h2 class="title-register">¿No tienes cuenta? Regístrate aquí</h2>
            
            <div class="errors">
                <ul></ul>
            </div>
            <form action="/register" class="form-container-register" method ="POST" enctype="multipart/form-data">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" min="1" placeholder="Ingresa tu nombre" class= "form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.name : null %>"
                />
                <p class="feedback">
                    <% if (locals.errors && errors.name) { %>
                        <div class= "text-danger">
                            <%= errors.name.msg  %> 
                        </div>
                       <% } %>
                </p>

                <label for="lastName">Apellido</label>
                <input type="text" name="lastName" id="lastName" min="1" placeholder="Ingresa tu apellido" class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" 
                value="<%= locals.oldData ? oldData.lastName : null %>" 
                />
                <p class="feedback">
                    <% if (locals.errors && errors.lastName) { %>
                        <div class= "text-danger">
                            <%= errors.lastName.msg  %> 
                        </div>
                       <% } %>
                </p>
               
                <label for="email">Email</label>
                <input type="email" name="email" id="email" min="1" placeholder="Ingresa tu email" class= "form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                value="<%= locals.oldData ? oldData.email : null %>"
                />
                <p class="feedback">
                    <% if (locals.errors && errors.email) { %>
                        <div class= "text-danger">
                            <%= errors.email.msg  %> 
                        </div>
                       <% } %>
                </p>

                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Crea una contraseña" class= "form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" 
                />
                <p class="feedback">
                    <% if (locals.errors && errors.password) { %>
                        <div class= "text-danger">
                            <%= errors.password.msg  %> 
                        </div>
                       <% } %>
                </p>

        
                <label for="passwordVal">Confirmar contraseña</label>
                <input type="password" name="passwordVal"id="passwordVal" placeholder="Confirma tu contraseña" class= "form-control <%= locals.errors && errors.passwordVal ? 'is-invalid' : null %>" 
                />
                <p class="feedback">
                <% if (locals.errors && errors.passwordVal) { %>
                    <div class= "text-danger">
                        <%= errors.passwordVal.msg  %> 
                    </div>
                   <% } %>
                </p>
                <label for="avatar">Sube tu foto</label>
                <input class = "avatar" type="file" name="avatar" id="avatar" placeholder="Ingresa tu foto">
                <p class="feedback">
                    <% if (locals.errors && errors.avatar) { %>
                        <div class= "text-danger">
                            <%= errors.avatar.msg  %> 
                        </div>
                       <% } %>
                </p>


                <button type="submit" class="form-btn-register">¡Regístrate gratis!</button>
                <button type="reset" class="form-btn-register">Borrar</button>
            </form>
            <h2 class="title-register">Al crear una cuenta aceptas los términos y condiciones de las
                políticas de manejo de datos personales de GoServise
            </h2>
          </section>
    </main>
    <%- include('./partials/footer')%>
    
</body>

</html>