<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/headIcon.ico">
    <title>Perfil del Usuario</title>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
      <h1>
        Hola <%= user.name %>
      </h1>
      <section class = "section-pd">
        <article class="articulo">
            <section class="img-pd">
              <img src="/userimg/<%= user.avatar %>">
            </section>
            <div class="articulo--top--info">
              <p class="text-pd"><b>Nombre:</b> <%= user.name %></p>
              <p class="text-pd"><b>Apellido:</b> <%= user.lastName %></p>
              <p class="text-pd"><b>Email:</b> <%= user.email %></p>
              <a class="buttonDetail" href=<%= "/userdetail/editUser/" + user.id %> > Editar</a>
              <!-- <form action= <%= "/userdetail/" + user.id + "?_method=DELETE" %> method="post">
                <button type="submit" class="buttonDetail"> Eliminar cuenta</button> -->
            </div>
        </article>
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>

</html>

</html>